*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist), sans-serif;
  background: #0a0a0a;
  color: #fff;
  overflow-x: hidden;
}